.container-footer {
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.21);
  background: linear-gradient(180deg, #383535 0%, rgba(133, 130, 130, 0) 100%);
  position: relative;
}

.title-current-music {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 0;
  margin-left: 32px;
}

.title-current-music > h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-current-music > h3 {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-controls-progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
